<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="SportStore\CustomerFeedback\Api\Data\FeedbackInterface"
                type="SportStore\CustomerFeedback\Model\Feedback" />

    <preference for="SportStore\CustomerFeedback\Api\FeedbackRepositoryInterface"
                type="SportStore\CustomerFeedback\Model\FeedbackRepository" />
</config>
